each item in links
    article.blog-post
        //- h2.blog-post-title.mb-1 #{post.title}
        strong.d-inline-block.mb-2.text-primary #{item}
        each post in categories[item]
            h3.mb-0 #{post.title}
            .my-1.text-muted #{ post.created_at } by #{ post.author }